//  Color theme

$primary-color: #000;   // Black
$secondary-color: #fff; // White
$tertiary-color: #004; // Blue
$accent: #e76f51;

// Font theme

$font-family: 'Arial', sans-serif;
$font-size: 16px;
$font-weight: 400;
$line-height: 1.5;

// Spacing  

$spacing: 1rem;

// Border radius

$border-radius: 0.5rem;



